# vscode配置文件
.vscode/
*.class

# test cpp file of windows
ACM-ICPC-Practice/Codeforces/tempCodeRunnerFile.cpp

# codeforces input file of mac
ACM-ICPC/Codeforces/input.txt

# mac tmp storage
.DS_Store